<ion-header class="text-center saumon">
  <ion-toolbar>
    <ion-title>LNMK</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="2">Accueil</ion-col>
    <ion-col size="2">Recherche</ion-col>
    <ion-col size="2">Mon compte</ion-col>
    <ion-col size="2">Mes offres</ion-col>
    <ion-col size="2">Mon panier</ion-col>
    <ion-col size="2">Contact</ion-col>
  </ion-row>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ion-no-border text-center">
  <ion-toolbar>
    <ion-title>@LNMK - Tout droit réservé</ion-title>
  </ion-toolbar>
</ion-footer>
